.my-cart-row {
  border: 0.1rem black solid;
  border-radius: 2rem;
  padding: 0.5rem;
}
.my-name-text {
  font-weight: 600;
  font-size: 1.75rem;
}
.my-gallery {
  height: 100%;
  object-fit: cover;
  object-fit: contain;
}
